<ion-header [translucent]="true">
  <ion-toolbar color = "light">
    <ion-title class ="alinear">
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="ion-padding" >
    <app-todos id="1"></app-todos>
    <app-todos id="2"></app-todos>
    <app-todos id="3"></app-todos>
    <app-todos id="4"></app-todos>
    <app-todos id="5"></app-todos>
    <app-todos id="6"></app-todos>
    <app-todos id="7"></app-todos>
    <app-todos id="8"></app-todos>
  </div>
</ion-content>